<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>homeXpress</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <ul class="navlinks">
                <li><a href="/home">homeXpress</a></li>
                <li><a href="/about">aboutXpress</a></li>
                <li><a href="/works">worksXpress</a></li>
            </ul>
        </div>
        <div class="hero">
            <h1>Works!</h1>
            <img src="https://picsum.photos/640/360" alt="image of 640x360">
            <p>Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh semiotics artisan synth stumptown gastropub cornhole celiac swag. Brunch raclette vexillologist post-ironic glossier ennui XOXO mlkshk godard pour-over blog tumblr humblebrag. Blue bottle put a bird on it twee prism biodiesel brooklyn. Blue bottle ennui tbh succulents.</p>
        </div>
        <div class="info">
            <img src="https://fakeimg.pl/640x360" alt="image of steven segal">
            <p>Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh semiotics artisan synth stumptown gastropub cornhole celiac swag. Brunch raclette vexillologist post-ironic glossier ennui XOXO mlkshk godard pour-over blog tumblr humblebrag. Blue bottle put a bird on it twee prism biodiesel brooklyn. Blue bottle ennui tbh succulents.</p>
        </div>
    </div>
</body>
</html>